version: '3.8'

services:
  laravel:
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      DB_HOST: mysql
      DB_DATABASE: '${DB_DATABASE}'
      DB_USER: '${DB_USERNAME}'
      DB_ROOT_PASSWORD: '${DB_PASSWORD}'
    ports:
      - 8008:8000
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
    networks:
      - app

  mysql:
    image: 'mysql/mysql-server:8.0'
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    networks:
      - app

networks:
  app:
    driver: local