*{
    margin: 0;
}

a{
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
    
.Header{
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: center;

    .header-wrapper{
        width: 100%;
        max-width: 1400px;
        display: flex;
        justify-content: center;

        ul{
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 1rem;

            a{
                display: flex;
                padding: 0.75rem 1.75rem 0.75rem 1.75rem;
                border-radius: 99rem;
                background-color: transparent;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease;

                &:hover{
                    background-color: var(--salmon);

                    &::after{
                        width: 0.8rem;
                        margin-left: 0.5rem;
                        opacity: 1;
                    }
                }

                &::after{
                    content: '';
                    display: flex;
                    width: 0rem;
                    height: 0.8rem;
                    position: relative;
                    background-image: url(/Assets/Rightarrow.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all 0.5s 0.2s ease;
                    margin-left: 0rem;
                    opacity: 0;
                    filter: brightness(0) invert(0);
                    transform: translateY(6%);
                }
            }
        }
    }
}

.drag{
    width: 150px;
    height: 150px;
    background-color: brown;
}