@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #2dd4bf;
    color: #fff;
}

html { scroll-behavior: smooth; }

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #34445b;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9d9d;
    border-radius: 6px;
    border: 3px solid #34445b;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9b9d9d #34445b;
}