@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #2dd4bf;
    color: #fff;
}

html { scroll-behavior: smooth; }

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #34445b;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9d9d;
    border-radius: 6px;
    border: 3px solid #34445b;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9b9d9d #34445b;
    word-wrap: break-word;
}

h2{
    font-size: 41px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

.content img {
    width: 720px;
}

.image-style-side {
    float: right;
    margin-left: 1.5rem;
    max-width: 50%;
}

figure {
    margin: 15px 0;
}

figcaption {
    background-color: theme('colors.base-300');
    padding: 7px;
}

section a {
    color: #14b8a6;
    text-decoration: underline;
    text-underline-offset: 2px;
}

a:hover {
    opacity: 0.8;
}

blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 5px 0;
}

table {
    border: 1px double #b3b3b3;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    width: 100%;
}

td {
    border: 1px solid #bfbfbf;
    min-width: 2em;
    padding: .6em;
}

ul {
    list-style: circle;
    margin-left: 21px;
}

ol {
    list-style-type: decimal;
    margin-left: 21px;
}